.button {
  -fx-border-radius: 4px;
  -fx-background-color: #383838;
  -fx-border: none;
  -fx-color: #383838;
  -fx-text-align: center;
  -fx-font-size: 12px;
  -fx-padding: 20px;
  -fx-width: 200px;
  -fx-transition: all 0.5s;
  -fx-cursor: pointer;
  -fx-margin: 5px;
}

.button span {
  -fx-cursor: pointer;
  -fx-display: inline-block;
  -fx-position: relative;
  -fx-transition: 0.5s;
}

.button span:after {
  -fx-content: '\00bb';
  -fx-position: absolute;
  -fx-opacity: 0;
  -fx-top: 0;
  -fx-right: -20px;
  -fx-transition: 0.5s;
}

.button:hover span {
  -fx-padding-right: 25px;
}

.button:hover span:after {
  -fx-opacity: 1;
  -fx-right: 0;
}
